@CHARSET "UTF-8";
/* (1) CSS 템플릿에 있던 공통 css 요소 */
/*
body {
            background-color: #EEEDEE;
        }

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 1000px;
        }

        .view_btn {
            cursor: pointer;
        }
*/
/* (1) end*/


table.table td{
            width:100%;
            <!--            line-height: 2.5em;-->
            text-align: center;
            vertical-align:middle;
            color: #404040;
            border: 1px solid #c7c7bc;
　       }

        table.table th{
            text-align: center;
            vertical-align:middle;
            border: 1px solid #c7c7bc;
        }

        table.table td a{
            display:block;
            width:100%;
            height:100%;
        }

        table.table td a:hover{
            background-color: #f2e6ff;
            }



        .segment {
            width: 98%;
        }

        table {
            width: 100%;
            table-layout: fixed;
        }

        td {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }

        #align_content {
            text-align: left;
        }

        #rep_footer{
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 10px;
            text-align: left;
        }

        #rep_title{
            margin-left: 15px;
            margin-top: 15px;
        }
        #reply_board{

        }

        .replyNum{
            margin: 10px 10px 10px 10px;
            padding: 5px 5px 10px 5px;
            border-bottom: 2px solid lightgray;
            line-height: 150%
        }

        .violet_color{
            color: #8B5F92;
        }

        .rep_regdate{
            font-size: 80%;
        }

        #reply_form{
            margin-top:15px;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 15px;
        }

                #SharePopup{
                    background-color: white ;
                    padding:20px;
                    border:2px solid #ddd;
                    position:absolute;
                    left:20px;
                    top:20px;
                }
                .header{

                }
                .content{
                    padding: 15px 15px 15px 15px;
                }
                .title{
                    font-size: 130%;
                    font-weight: bold;
                    /*width: 85%;
                    float: left;*/
                }
                #closePopup{
                    /*width: 15%;
                    float: right;*/
                }
                #currentUrl{
                    width: 180px;
                }

/* 폼 input과 같은 항목들 아래 뜨는 경고메시지 에러 css */
.form_err{
    color: #ff0000;
}

.form-control{
    width: 100%;
}

.b_date{
    width: 25%;
}


.yrbutton{
    font-size: 14px;
    border: 1px solid lightgray;
    /*
    padding-top: 1em;
    padding-bottom: 1em;
    */
}

.copyright{
    font-size: 12px;
    text-align: center;
    color: lightgray;
    font-style: italic;
}

/* 회원가입 페이지 css */
/*big title*/
.big-title{
    font-weight: bold;
    text-align: center;
    color: #8B5F92;
}
/*small title*/
.sm-title{
    color: #595959;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;

}
/*input field*/
.su-field{
    color: #595959;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

.su-field-btn{
    padding: 0.5em;
}

.required-red{
    color: red;
}

.yr-sm-font{
    margin: 5px;
    font-size: 12px;
}